/* static/style.css */
.project-box {
  background-color: #befdff;
  border: 2px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.project-box:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.project-item {
  width: 30%;
  margin-bottom: 20px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
